#header {
  background: $black;
  color: #FFF;
  margin-bottom: 2*$space;
  text-align: right;
  .container {
    padding-bottom: $space/2;
    padding-top: $space/2;
  }
  a {
    color: inherit;
    margin-left: 1.5*$space/2;
    opacity: $unselectedOpacity;
    transition-duration: $ease;
    transition-property: opacity;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
  .links {
    font-family: $menuBar;
    float: left;    
  }

  .website-logo {
    vertical-align: middle;
    height: $websiteLogoSize;
    width: $websiteLogoSize;
  }

  .languages {    
    float: right;
    font-family: $menuBar;
  }

  .social-media {
    float: left;
    .social-media-container {      
      vertical-align: middle;
      display: inline-block;
      height: $socialMediaLogoSize;
      width: $socialMediaLogoSize;   
    }

    .social-media-logo {
      height: $socialMediaLogoSize;
      width: $socialMediaLogoSize;
    }
  }

  #take-to-homepage {
    float: left;
    background-color: inherit;
  }

  .dropdown-button {
    margin-left: 1.5*$space/2;
    background-color: inherit;
    color: inherit;
    opacity: $unselectedOpacity;
    font-family: $menuBar;
    border: none;
  }

  /* Dropdown button on hover & focus */
  .dropdown-button:hover, .dropdown-button:focus {
    opacity: 1;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    text-align: left;
    position: absolute;
    background-color: $black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: inherit;
    padding: 12px 16px;
    
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    opacity: 1;
    text-decoration: none;
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
  }
}
