<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.data.localization[site.active_lang].title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href="https://github.com/aerobatic/i18n-demo">Source code</a>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        {{site.data.localization[site.active_lang].description}}
      </div>
    </div>
  </div>
</footer>