<nav class="menu">

  {% assign homepage = site.pages | where: 'lang', page.lang | where: 'reference', 'homepage' | first %}

  <div class="left-side-container">
    <div
      id="take-to-homepage"
      onclick="location.href='{{ homepage.url }}';"
      style="cursor: pointer;">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/logo-small.png" class="website-logo">
      <div id="title-container">
        <strong class="title">{{ site.title }}</strong>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropdown-button" onclick="myFunction()">{{ site.data.translations.[page.lang].dropdown }}</button>
      <div class="dropdown-content" id="dropdown-content">
        {% for item in site.menu %}
          {% assign menu_item_curr_lang = site.pages | where: 'lang', page.lang | where: 'reference', item | first %}
          <a href="{{ menu_item_curr_lang.url }}">{{  site.data.translations.[page.lang].menu.[item] }}</a>
        {% endfor %}
      </div>
    </div>

    <script>
      /* When the user clicks on the button, 
      toggle between hiding and showing the dropdown content */
      function myFunction() {
        document.getElementById("dropdown-content").classList.toggle("show");
      }

      // Close the dropdown if the user clicks outside of it
      window.onclick = function (e) {
        if (!e.target.matches('.dropdown-button')) {
          var myDropdown = document.getElementById("dropdown-content");
          if (myDropdown.classList.contains('show')) {
            myDropdown.classList.remove('show');
          }
        }
      }
    </script>
    <div class="contact-links">
      {% include contact-links.html %}
    </div>
  </div>
  <div class="languages">
    {% include lang.html %}
  </div>
</nav>